anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
arabic-reshaper==2.1.1
conda==4.9.2
conda-build==3.18.11
conda-package-handling==1.7.0
conda-verify==3.4.2
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
jupyterthemes==0.20.0
nltk==3.4.5
PyArabic==0.6.10